extends ../layout/admin

block contenido
    div.py-10 
        h1.text-center.text-4xl.font-extrabold.my-10 Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= pagina

        a(href="/propiedades/crear" class="rounded py-2 px-10 bg-indigo-600 hover:bg-indigo-700 text-sm font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto") Publicar Propiedad 

        if propiedades.length
            div(class="bg-white shadow rounded-lg")
                ul(class="divide-y divide-gray-200")
                    each propiedad in propiedades
                        li 
                            div(class="p-6 w-full content-center flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 gap-4")
                                div(class="sm:w-1/4 md:w-2/6") 
                                    img(src=`uploads/${propiedad.imagen}` alt=`Imagen Propiedad ${propiedad.titulo}` class="w-full block")
                                div(class="sm:w-2/4 md:w-3/6 lg:w-4/6 space-y-3")
                                    a(href="#" class="block text-2xl font-extrabold text-indigo-600 truncate")= propiedad.titulo

                                    p(class="text-sm text-black font-bold")= propiedad.categoria.nombre

                                    p(class="text-sm text-gray-500 font-bold flex items-center")
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6")
                                            path(d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 01-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004zM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 01-.921.42z")
                                            path(fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v.816a3.836 3.836 0 00-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 01-.921-.421l-.879-.66a.75.75 0 00-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 001.5 0v-.81a4.124 4.124 0 001.821-.749c.745-.559 1.179-1.344 1.179-2.191 0-.847-.434-1.632-1.179-2.191a4.122 4.122 0 00-1.821-.75V8.354c.29.082.559.213.786.393l.415.33a.75.75 0 00.933-1.175l-.415-.33a3.836 3.836 0 00-1.719-.755V6z" clip-rule="evenodd")
                                        = propiedad.precio.nombre 

                                div(class="sm:w-1/4 md:w-2/6 lg:w-1/6 flex flex-col gap-2") 
                                    form(action="" )
                                        input(type="submit" class=`w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer ${propiedad.publicado ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800'}` value=`${propiedad.publicado ? 'Publicado' : 'No Publicado'}`)
                                    a(href="" class="text-center px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer bg-indigo-100 text-indigo-800") Editar
                                    form(action="" )
                                        input(type="submit" class="w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer bg-red-100 text-red-800" value="Eliminar")
                               
        else 
            p.text-center No Tienes Popiedades Publicadas

        // mostrar el objeto en formato JSON en front
        // pre= JSON.stringify(propiedades, undefined, 2)
